{% extends 'base.html' %}


{% block content %}
<div class="row">
<div class="col col-sm-12">

    <h3>Throughout the semester, I have felt extremely more comfortable in writing about myself. I felt that I have begun to thrive without having to worry about sticking to a structured writing style. I think the Open Letter was my favorite paper written this semester. While writing it, I had intended for the reader to feel powerful and as if it was their unheard voice being spoken through my writing. Although it is my voice and my thoughts, I still feel so incredibly powerful every time I read through the letter. The topic of ending sexual harassment in the workplace and simply addressing sexual harassment all together is a topic that I was a bit nervous to write about in the beginning because it has become such an issue in today’s society; however, that’s also exactly why I continued to write about it. I felt like I had more freedom to say what I felt needed to be said without having to stick to a structure of any kind.

Which assignments did you find most effective and entertaining? Why? Discuss free writes, blog assignments, etc.
Personally, I think the most entertaining assignments that we completed were the free writes. I always felt that I had the freedom to just write anything and everything when doing the free writes. I think it helped prepare us for the blog assignments in that it helped us gain confidence to allow our writing to flow out. Specifically, I really enjoyed the Banksy free write. I liked being able to look at the piece of art that he had created and try to interpret what he is trying to convey. I liked hearing the different opinions that my peers had compared to mine in that some were similar and oth</h3>
</div>
</div>
{% endblock %}